In [1]:
#1. create a pandas dataframe (dataframe named as df) with numpy random values (4 features and 4 observations)

import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame([np.random.rand(4),np.random.rand(4),np.random.rand(4),np.random.rand(4)])
df

          0         1         2         3
0  0.170706  0.545868  0.217445  0.076346
1  0.718075  0.020916  0.584284  0.585125
2  0.360170  0.811843  0.259099  0.225280
3  0.355356  0.522275  0.634618  0.701041

In [5]:
#2. Rename the task 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' and 'Random value 4'

df.columns = ['Random value 1', 'Random value 2', 'Random value 3','Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.170706        0.545868        0.217445        0.076346
1        0.718075        0.020916        0.584284        0.585125
2        0.360170        0.811843        0.259099        0.225280
3        0.355356        0.522275        0.634618        0.701041

In [15]:
#3. Find the descriptive statistics of the 'df' dataframe

df.describe(include='all')

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.401077        0.475226        0.423861        0.396948
std          0.229000        0.330108        0.215954        0.294470
min          0.170706        0.020916        0.217445        0.076346
25%          0.309193        0.396935        0.248686        0.188046
50%          0.357763        0.534072        0.421692        0.405202
75%          0.449646        0.612362        0.596867        0.614104
max          0.718075        0.811843        0.634618        0.701041

In [12]:
#4. Check for null values in 'df' and find the data type of the columns

print("Checking for null values")
print(df.isnull())

Checking for null values
   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [16]:
print("Datatypes of the columns")
print(df.info())

Datatypes of the columns
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes
None

In [22]:
#5. Display the 'Random value 2' and 'Random value 3' columns with location method and index location method.

#using index location method
df.iloc[:,1:3]

   Random value 2  Random value 3
0        0.545868        0.217445
1        0.020916        0.584284
2        0.811843        0.259099
3        0.522275        0.634618

In [25]:
#using location method

df.loc[:,'Random value 2':'Random value 3']

   Random value 2  Random value 3
0        0.545868        0.217445
1        0.020916        0.584284
2        0.811843        0.259099
3        0.522275        0.634618